@charset "UTF-8";
/* CSS Document */

* {
    margin: 0;
    padding: 0;
}

#wrapper {
    width: 1080px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}

#backgroundnav {
    position: absolute;
    height: 120px;
    width: 100vw;
    background-color: rgb(230 120 18);
    z-index: -1;
}

#backgroundhero {
    position: absolute;
    height: 400px;
    width: 100vw;
    background-color: rgb(40 40 40);
    margin-top: 120px;
    z-index: -1;
}

#backgroundfooter {
    position: absolute;
    height: 145px;
    width: 100vw;
    background-color: rgb(40 40 40);
    margin-top: 938px;
    z-index: -1;
}

header {
    height: 120px;
    width: 1080px;
}

li {
    display: inline;
    font-size: 12pt;
    font-family: 'Rubik', sans-serif;
    float: left;
    margin: 80px 40px 0px 0px;
}

#logobk {
    float: left;
    height: 112px;
    margin-top: 8px;
    margin-right: 105px;
}

a.navlink:link {
    color: rgb(255 255 255);
    text-decoration: none;
}

a.navlink:visited {
    color: rgb(255 255 255);
    text-decoration: none;
}

a.navlink:hover {
    color: rgb(108 61 49);
    text-decoration: none;
}

a.navlink:active {
    color: rgb(40 40 40);
    text-decoration: none;
}

a.textlink:link {
    color: rgb(230 120 18);
    text-decoration: none;
    font-weight: 500;
}

a.textlink:visited {
    color: rgb(230 120 18);
    text-decoration: none;
    font-weight: 500;
}

a.textlink:hover {
    color: rgb(108 61 49);
    text-decoration: none;
    font-weight: 500;
}

a.textlink:active {
    color: rgb(40 40 40);
    text-decoration: none;
    font-weight: 500;
}

#burgerhero {
    text-align: center;
    height: 400px;
}

#hometext {
    padding: 30px 160px 30px 160px;
    background-color: rgb(255 255 255);
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: rgb(108 61 49);
    font-size: 30pt;
    text-align: center;
    margin-bottom: 6px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: rgb(230 120 18);
    font-size: 18pt;
    text-align: center;
    margin-bottom: 30px;
}

p.maintext {
    font-size: 12pt;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 18pt;
    color: rgb(40 40 40)
}

p.footertext {
    padding-top: 60px;
    font-size: 10pt;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: rgb(255 255 255);
    text-align: center;
    line-height: 13pt;
}

footer {
    height: 145px;
}